<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>API Previsão do Tempo para a Cidade de <label id="nomeCidadeAPIPrevTempo">São Paulo</label></h4>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Javascript sourced data -->
<div class='panel panel-flat'>
    <div id="tabelaClima">
        <div class="loaderContent">
            <div id="loader"></div>
        </div>
    </div>
</div>
<!-- /javascript sourced data -->