<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>Inicio</h4>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">

    <!-- Basic column chart -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Basic column chart</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="basic_columns"></div>
            </div>
        </div>
    </div>
    <!-- /basic column chart -->
    <!-- Stacked columns -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Stacked columns</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="stacked_columns"></div>
            </div>
        </div>
    </div>
    <!-- /stacked columns -->
    <!-- Stacked clustered columns -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Stacked clustered columns</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="stacked_clustered_columns"></div>
            </div>
        </div>
    </div>
    <!-- /stacked clustered columns -->
    <!-- Thermometer chart -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Thermometer chart</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="thermometer_columns"></div>
            </div>
        </div>
    </div>
    <!-- /thermometer chart -->
    <!-- Compositive waterfall -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Compositive waterfall</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="compositive_waterfall"></div>
            </div>
        </div>
    </div>
    <!-- /compositive waterfall -->
    <!-- Change waterfall -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Change waterfall</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="change_waterfall"></div>
            </div>
        </div>
    </div>
    <!-- /change waterfall -->
    <!-- Columns timeline -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Columns timeline</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart has-fixed-height" id="columns_timeline"></div>
            </div>
        </div>
    </div>
    <!-- /columns timeline -->
    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

</div>
<!-- /content area -->