<!-- TELA DE EDIÇÃO DE USUARIO -->
<div class="contentModalEditUsuario">
    <div id="ModalEditUsuario">
        <div class="modal-dialog">
            <div class="modal-content" style="overflow:hidden; height:400px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Editar informações de Usuario</h5>
                </div>
                <hr>
                <div class="modal-body">

                    <label id="contentInputsEditUsuario"></label>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /TELA DE EDIÇÃO DE USUARIO -->
<!-- ALERTA -->
<div id="alertEditCadusuario"></div>
<!-- / ALERTA -->

<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>Relatório de Usuários</h4>
        </div>

    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Home/Index"><i class="icon-home2 position-left"></i>Home</a></li>
            <li class="active">Relatório de Usuários</li>
        </ul>
    </div>
</div>
<!-- /page header -->
<!-- Dropdown menu -->



<div class="row">
    <label id="lblDivUsuarios">
        <div class="loaderContent">
            <div id="loader"></div>
        </div>
    </label>
</div>

<!-- /dropdown menu -->
